body { 
  margin: 0;
  padding: 0; 
}

#map {
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 30%;
  width: 70%;
  transition: .5s ease-in-out;
}

#sidebar{
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #424242;
  /* Temporary Font */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #EEEEEE;
  overflow: auto;
}

#filterselect{
  width: 50%;
}